<script setup lang="ts">
    const user = useSupabaseUser()
    const supabase = useSupabaseClient()

    const notesResponse = ref()

    const refreshNotes = async () => {
        notesResponse.value = await supabase.from("notes").select().eq("user_id",user.value.id)
    }
    const makeNewNote = async () => {
        await supabase.from("notes").insert({
            title:"",
            note:"",
            user_id:user.value.id
        })
        refreshNotes()
    }

    if (process.client && user.value) {
        refreshNotes()
    }

    
</script>
<template>
    <div class="widget">
        <div class="widget-header">
            <span class="">Notes</span>
        </div>
        
        <div v-if="user && notesResponse">
        <TransitionGroup name="list" tag="ul">
            <ElementNote v-for="note in notesResponse.data" :key="note" :note="note" @refresh="refreshNotes"></ElementNote>
            <button @click="makeNewNote" :key="'newnote'" class="dark:bg-black bg-opacity-50 p-2 rounded-lg mx-auto block flex gap-2">
                <span class="material-symbols-rounded">add</span>New note
            </button>
        </TransitionGroup>
        </div>

        <div v-else class="flex justify-center">
            <button class="text-center py-20">
                <span class="material-symbols-rounded text-4xl">notes</span><br>
                Login to use cloud synced Notes.
            </button>
        </div>
    </div>
</template>

<style scoped lang="scss">
</style>
