<script setup lang="ts">

    const timer = ref({
        focus: 25,
        shortBreak: 5,
        longBreak: 15,
    })
    const remainingTime = ref(-1)
    const currentMode = ref<'idle' | 'focus' | 'break'>('idle')
    const currentState = ref<'playing' | 'pause'>('pause')
    let pomoSettings = ref(false)
    let notificationSound = new Audio('https://www.setasringtones.com/download/notification-ringtones/2071/Phone_Notification_Sounds.mp3')

    // Get and set preferences
    const { preferences, setPreference } = usePreferences()
    if (preferences.value.PomoTimer)
        timer.value = preferences.value.PomoTimer
    
    watch(timer.value, () => {
        setPreference('PomoTimer','PomoTimer',timer.value)
    });

    let interval
    const startPause = () => {
        switch (currentMode.value) {
            case 'idle':
                startFocus()
            break
            case 'focus':
                if (currentState.value === 'playing') {
                    clearInterval(interval)
                    currentState.value = 'pause'
                } else {
                    currentState.value = 'playing'
                    clearInterval(interval);
                    interval = setInterval(() => {
                        remainingTime.value --
                        if (remainingTime.value <= 0) {
                            clearInterval(interval);
                            notificationSound.play()
                            startBreak()
                        }
                    }, 1000);
                }
            break
            case 'break':
               if (currentState.value === 'playing') {
                    clearInterval(interval)
                    currentState.value = 'pause'
                } else {
                    currentState.value = 'playing'
                    clearInterval(interval);
                    interval = setInterval(() => {
                        remainingTime.value --
                        if (remainingTime.value <= 0) {
                            clearInterval(interval);
                            notificationSound.play()
                            startBreak()
                        }
                    }, 1000);
                }
            break
        }    
    }

    const startFocus = () => {
        currentMode.value = 'focus'
        currentState.value = 'playing'
        remainingTime.value = timer.value.focus * 60
        interval = setInterval(() => {
            remainingTime.value --
            if (remainingTime.value <= 0) {
                clearInterval(interval);
                notificationSound.play()
                startBreak()
            }
        }, 1000);
    }

    const startBreak = () => {
        remainingTime.value = timer.value.shortBreak * 60
        currentMode.value = 'break'
        currentState.value = 'playing'
        interval = setInterval(() => {
            remainingTime.value --
            if (remainingTime.value <= 0) {
                clearInterval(interval);
                notificationSound.play()
                startFocus()   
            }
        }, 1000);
    }

    const stopTimer = () => {
        clearInterval(interval);
        remainingTime.value = -1
        currentMode.value = 'idle'
        currentState.value = 'pause'
    }

    const skipTimer = () => {
        clearInterval(interval);
        if (currentMode.value === 'break') {
            startFocus()
        } else if (currentMode.value === 'focus'){
            startBreak()
        }
    }

    const FormatedRemainingTime = computed(() => {
        return { minute:Math.floor(remainingTime.value / 60), second:remainingTime.value % 60}
    })    
    
</script>

<template>
    <div class="widget text-center">
        <div class="widget-header">
            <span class="">Pomodoro</span>
            <button @click="pomoSettings = !pomoSettings">
                <span class="material-symbols-rounded" :class="{iconActive : pomoSettings}">settings</span>
            </button>
        </div>
        <ModalGeneral :showModal="pomoSettings" @close-modal="pomoSettings = false">
            <section class="my-6 settings">
                Focus time<br>
                <input v-model="timer.focus" type="number" class="blurstyle"> minutes
                <br>
                Break time<br>
                <input v-model="timer.shortBreak" type="number" class="blurstyle"> minutes
            </section>
        </ModalGeneral>
        <section>
            <!-- Status bar -->
            <div class="status-bar">
                <span :class="{modeActive : currentMode === 'focus'}">Focus</span>
                <span :class="{modeActive : currentMode === 'break'}">Break</span>
            </div>
            <!-- Progress -->
            <ElementRadialProgress :timer="{amount:currentMode === 'break' ? (timer.shortBreak*60 - remainingTime) :(timer.focus*60 - remainingTime),
                                            max:currentMode === 'break' ? timer.shortBreak*60 : timer.focus*60,
                                            counter:FormatedRemainingTime}"></ElementRadialProgress>
            <br>
            <!-- Control buttons -->
            <div class="pomo-controls flex justify-center">
                <button v-show="currentMode==='focus' || currentMode==='break'" @click="stopTimer">
                    <span class="material-symbols-rounded clickable">stop</span>
                </button>
                <button v-show="currentState==='pause'" @click="startPause">
                    <span class="material-symbols-rounded text-5xl clickable">play_arrow</span>
                </button>
                <button v-show="currentState==='playing'" @click="startPause">
                    <span class="material-symbols-rounded text-5xl clickable">pause</span>
                </button>
                <button v-show="currentMode==='focus' || currentMode==='break'" @click="skipTimer">
                    <span class="material-symbols-rounded clickable">skip_next</span>
                </button>
            </div>
        </section>
        
    </div>
</template>

<style lang="scss" scoped>
    .settings {
        input {
            @apply w-16 rounded-lg px-2;
        }
    }
    .pomo-container {
        display: flex;
        justify-content: center;
        transition: flex-grow 1000ms linear;
    }
    .status-bar {
        @apply mb-2;
        span {
            @apply mx-2 font-light opacity-30;
        }
        .modeActive{
            @apply mx-2 font-normal opacity-100;
        }
    }
</style>
