<script setup lang="ts">

    let soundState = ref<'off' | 'lofi'>('off')
    
    let musics = ref([
        {
            file:"https://www.chosic.com/wp-content/uploads/2021/09/Morning-Routine-Lofi-Study-Music.mp3",
            title:"Morning Routine by Ghostrifter Official",
            link:"https://soundcloud.com/ghostrifter-official"
        },
        {
            file:"https://www.chosic.com/wp-content/uploads/2021/07/purrple-cat-wild-strawberry.mp3",
            title:"Wild Strawberry by Purrple Cat",
            link:"https://purrplecat.com/"
        },
        {
            file:"https://www.chosic.com/wp-content/uploads/2022/04/Cozy-Place-Chill-Background-Music.mp3",
            title:"Cozy Place by Keys of Moon",
            link:"https://soundcloud.com/keysofmoon"
        },
        {
            file:"https://www.chosic.com/wp-content/uploads/2022/01/Missing-You.mp3",
            title:"Missing You by Purrple Cat",
            link:"https://purrplecat.com/"
        }
    ])
    let rain = ref([
        {
            file:"https://www.chosic.com/wp-content/uploads/2021/07/Rain.mp3",
            title:"Rain",
            link:"https://www.chosic.com/free-music/all/ "
        }
    ])
    let cafe = ref([
        {
            file:"https://coffitivity.com/assets/sounds/full/mp3/morning-murmur.mp3",
            title:"Café",
            link:"https://coffitivity.com"
        }
    ])

    // Inital music random
    let musicIndex = ref(Math.floor(Math.random() * musics.value.length))
    let currentSound = ref(new Audio(musics.value[musicIndex.value].file))
    let currentVolume = ref(0.60)

    let rainVolume = ref(0)
    let rainSound = ref(new Audio(rain.value[0].file))
    rainSound.value.loop = true

    let cafeVolume = ref(0)
    let cafeSound = ref(new Audio(cafe.value[0].file))
    cafeSound.value.loop = true

    // Play/Pause and Skip buttons handlers
    const playSound = () => {
        currentSound.value.play()
        soundState.value='lofi'
    }
    const stopSound = () => {
        currentSound.value.pause()
        soundState.value='off'
    }    
    const skipSong = (direction:'previous' | 'next') => {
        currentSound.value.pause()
        if(direction==='next') {
            musicIndex.value = musics.value[musicIndex.value + 1] ? musicIndex.value += 1 : 0
        } else {
            musicIndex.value = (musicIndex.value - 1)>=0 ? musicIndex.value -= 1 : musics.value.length - 1
        }    
        currentSound.value.src = musics.value[musicIndex.value].file
        currentSound.value.play()
        soundState.value = 'lofi'
    }
    // Volume sliders handler
    watch(currentVolume, (currentValue, oldValue) => {
        currentSound.value.volume = currentValue
    });
    watch(rainVolume, (currentValue, oldValue) => {
        if (currentValue === 0 ) {
            rainSound.value.volume = currentValue
            rainSound.value.pause()
        } else {
            rainSound.value.play()
            rainSound.value.volume = currentValue
        }
    });
    watch(cafeVolume, (currentValue, oldValue) => {
        if (currentValue === 0 ) {
            cafeSound.value.volume = currentValue
            cafeSound.value.pause()
        } else {
            cafeSound.value.play()
            cafeSound.value.volume = currentValue
        }
    });
    // Auto next song handler
    currentSound.value.addEventListener('ended',function(){
        currentSound.value.pause()
        musicIndex.value = musics.value[musicIndex.value + 1] ? musicIndex.value += 1 : 0
        currentSound.value.src = musics.value[musicIndex.value].file
        currentSound.value.play()
    });


</script>
<template>
    <div class="widget text-center">
        <div class="widget-header">
            <span class="">Ambient Sound</span>
        </div>
        <!-- Media Controls -->
        <div class="media-controls flex justify-center gap-2 ">
            <button @click="skipSong('previous')">
                <span class="material-symbols-rounded clickable text-4xl">skip_previous</span>
            </button>
            <button v-if="soundState === 'off'" @click="playSound">
                <span class="material-symbols-rounded clickable text-5xl">play_circle</span>
            </button>
            <button v-else @click="stopSound">
                <span class="material-symbols-rounded clickable text-5xl">pause_circle</span>
            </button>
            <button @click="skipSong('next')">
                <span class="material-symbols-rounded clickable text-4xl">skip_next</span>
            </button>
        </div>
        <!-- Sound Title -->
        <span class="inline-block mb-2 text-sm">
            <a :href="musics[musicIndex].link" target="_blank">{{musics[musicIndex].title}}</a>
        </span>
        <!-- Volume Sliders -->
        <div class="max-w-xs relative mx-auto">
            <span class="material-symbols-rounded text-sm absolute right-4 pointer-events-none">volume_up</span>
            <input type="range" min="0" max="1" step="0.01" v-model="currentVolume" class="slider">
        </div>
        <h3 class="text-sm mt-2 mb-1">
            <a :href="cafe[0].link" target="_blank">Café</a>
        </h3>
        <div class="max-w-xs relative mx-auto">
            <span class="material-symbols-rounded text-sm absolute right-4 pointer-events-none">volume_up</span>
            <input type="range" min="0" max="1" step="0.01" v-model="cafeVolume" class="slider">
        </div>
        <h3 class="text-sm mt-2 mb-1">
            <a :href="rain[0].link" target="_blank">Rain</a>
        </h3>
        <div class="max-w-xs relative mx-auto">
            <span class="material-symbols-rounded text-sm absolute right-4 pointer-events-none">volume_up</span>
            <input type="range" min="0" max="1" step="0.01" v-model="rainVolume" class="slider">
        </div>
        
        

    </div>
</template>
<style lang="scss">

.slider {
    -webkit-appearance: none;
    @apply bg-white bg-opacity-10 dark:bg-opacity-10 border-white border-opacity-10 border-2;
    width: 100%;
    height: 20px;
    /* outline: none; */
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
    overflow: hidden;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #00000093;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: -407px 0 0 400px #00000093;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #00000093;
  cursor: pointer;
  border-radius: 10px;
}

</style>
