<script setup lang="ts">
    // // own server method
    // const { todos, refreshTodo } = useTodos()

    const user = useSupabaseUser()
    const supabase = useSupabaseClient()
    const todosTab = ref<'Tasks' | 'Completed'>('Tasks')
    const todosResponse = ref()
    const refreshTodos = async () => {
        if (todosTab.value === 'Tasks') {
            todosResponse.value = await supabase.from("todos").select().eq("user_id",user.value.id).match({"completed":false})
        } else {
            todosResponse.value = await supabase.from("todos").select().eq("user_id",user.value.id).match({"completed":true})
        }
    }
    const changeTab = (tab) => {
        todosTab.value = tab
        refreshTodos()
    }
    const updateTodoUI = (index) => {
        todosResponse.value.data.splice(index,1)
    }
    if (process.client && user.value) {
        refreshTodos()
    }
</script>

<template>
    <div class="widget">
        <div class="widget-header">
            <span class="">To Do List</span>
            <div class="flex gap-2" v-if="user">
                <button @click="changeTab('Tasks')" :class="{'opacity-50 text-sm' : todosTab != 'Tasks'}">Tasks</button>
                <button @click="changeTab('Completed')" :class="{'opacity-50 text-sm' : todosTab != 'Completed'}">Completed</button>
            </div>
        </div>

        <div v-if="user && todosResponse">
            <TransitionGroup name="list" tag="ul">
                <ElementTodo v-for="(todo,index) in todosResponse.data" :key="todo"
                :todo="todo" @refresh="refreshTodos" @updateUI="updateTodoUI(index)"></ElementTodo>
                <ElementNewTodo @refresh="refreshTodos" :key="'newtodo'"></ElementNewTodo>
            </TransitionGroup>
        </div>
        
        <div v-else class="flex justify-center">
            <button class="text-center py-20">
                <span class="material-symbols-rounded text-4xl">checklist</span><br>
                Login to use cloud synced To Do List.
            </button>
        </div>

    </div>
</template>
