<script setup lang="ts">
    // to use environment variables
    const config = useRuntimeConfig()
    // checking for city in cookie
    const cityCookie = useCookie("city")
    if (!cityCookie.value) cityCookie.value = "Berlin"
    // default settings modal
    let weatherSettings = ref(false)
    // setting date format
    const today = new Date().toLocaleDateString("en-US",{
        weekday: "long",
        month:"long",
        day:"numeric"
    })
    //getting the weather
    const { pending, data: weather, error , refresh } = useLazyAsyncData('weather', async () => {
        let response
        try {
            response = await $fetch(`https://api.openweathermap.org/data/2.5/weather?q=${cityCookie.value}`,
                {
                    params: {
                        units:"metric",
                        appid: config.weatherSecret
                    }
                })
        } catch(error) {
            console.log(error)
        }
        return response
    })

    const newCity = ref("")
    const cityError = ref(false)
    const updateCity = async () => {
        if (newCity.value === '') return
        newCity.value = newCity.value.trim().split(" ").join("+")
        try {
            let response = await $fetch(`https://api.openweathermap.org/data/2.5/weather?q=${newCity.value}`,
                    {
                        params: {
                            units:"metric",
                            appid: config.weatherSecret
                        }
                    })
            cityCookie.value = newCity.value.trim().split(" ").join("+")
            weather.value = response
            newCity.value = ''
            weatherSettings.value = false
        } catch (error) {
            cityError.value = true
        }
    }
    // getting the quote
    const { data: quote } = useLazyFetch('https://api.goprogram.ai/inspiration')
    
</script>

<template>
    <div class="widget">
        <div class="widget-header">
            <span class="">Today</span>
            <button @click="weatherSettings = true">
                <span class="material-symbols-rounded" :class="{iconActive : weatherSettings}">settings</span>
            </button>
        </div>
        <div v-if="weather" class="flex items-center">
            <img 
            :src="`https://openweathermap.org/img/wn/${weather.weather[0].icon}@4x.png`"
            class="w-32 inline-block">
            <h1 class="text-6xl inline-block">{{parseInt(weather.main.temp)}}°</h1>
        </div>
        <h2 v-if="weather" class="text-lg">{{weather.name}}</h2>
        <h3 class="text-xl">{{today}}</h3>
        <br>
        <div v-if="quote">
            <p class="font-light">{{quote['quote']}}</p>
            <span>{{quote['author']}}</span>
        </div>
        <ModalGeneral :showModal="weatherSettings" @close-modal="weatherSettings = false">
            <input v-model="newCity" placeholder="Enter the city name" @keydown.enter='updateCity()' @keydown="cityError = false"
                class="blurstyle dark:border-2 dark:border-white dark:border-opacity-20 py-1 px-4 mr-2 rounded-lg">
            <button @click="updateCity()" class="p-2 clickable">Set</button>
            <span v-if="cityError" class="inline-block my-2">Could'nt find the city, try again.</span>
        </ModalGeneral>
    </div>
</template>
