<script setup lang="ts">
interface backgroundAuthor {
    background_author:{
        name:string,
        link:string
    }
}
    const props = defineProps<backgroundAuthor>()

</script>
<template>
    <div class="text-white flex justify-between p-6 text-xs">
        <a v-if="props.background_author" :href="props.background_author.link" target="_blank">wallpaper by {{props.background_author.name}}</a>
        <a v-else> </a>
        <div>
            <a class="mx-2 px-1 bg-black bg-opacity-20 rounded-sm cursor-pointer" href="https://gitlab.com/alirezaekt/mindful" target="_blank">Contribute</a>
            <a href="https://coolconcepts.tech" target="_blank">by CoolConcepts.tech</a>
        </div>
    </div>
</template>
