<script setup>
  //setting modal
  let settingsModal = ref(false)
  let authModal = ref(false)
  let profileModal = ref(false)

  const user = useSupabaseUser()

  const getTime = () => {
    return new Date().toLocaleTimeString("en-US",{
      hour:"numeric",
      minute:"numeric"
    })
  }
  const get24Hour = () => {
    return new Date().toLocaleTimeString("en-US",{
      hour:"numeric",
      hour12: false
    })
  }
  // update clock
  let time = ref("")
  time.value = getTime()
  setInterval(()=>{
    time.value = getTime()
  }, 30000);
  //greeting
  const greeting = computed(() => {
    if (get24Hour() < 12 && get24Hour() > 3) {
      return "Good Morning"
    } else if (get24Hour() < 18) {
      return "Good Afternoon"
    } else {
      return "Good Evening"
    }
  });
  
  
</script>
<template>
  <div>
    <section class="text-white py-6 px-8 flex justify-between drop-shadow">
      <div>
        <span class="mr-2">{{greeting}}</span>
        <button v-if="!user" @click="authModal = true" class="bg-black bg-opacity-30 hover:bg-opacity-60 px-2 rounded-lg">Login</button>  
        <button v-if="user && !user.user_metadata.name" @click="profileModal = true">Profile</button>  
        <button v-if="user && user.user_metadata.name" @click="profileModal = true" class="font-bold">{{user.user_metadata.name}}</button>  
      </div>
      <div class="flex gap-4">
        <h3>{{time}}</h3>
        <button @click="settingsModal = true">
          <span class="material-symbols-rounded" :class="{iconActive : settingsModal}">settings</span>
        </button>
      </div>
      
    </section>
    <section>
      <ModalAuth :showModal="authModal" @close-modal="authModal = false"></ModalAuth>
      <ModalProfile :showModal="profileModal" @close-modal="profileModal = false"></ModalProfile>
      <ModalSettings :showModal="settingsModal" @close-modal="settingsModal = false"></ModalSettings>
    </section>
  </div>
</template>
<style scoped lang="scss">
button{
  span{
    transition: all 0.6s ease;
  }
}
</style>
