html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
    color:inherit;
}
button {
    all: unset;
    cursor: pointer;
}
//-------

//-------
.blurstyle {
    @apply backdrop-blur-lg bg-white bg-opacity-50 dark:bg-black dark:bg-opacity-50 dark:text-white;
}
.widget{
    @apply rounded-xl p-8 backdrop-blur-lg bg-white bg-opacity-50 dark:bg-black dark:bg-opacity-50 dark:text-white;
    max-height: 600px;
    overflow-y: scroll;
    .widget-header{
        @apply flex justify-between;
        span {
            @apply opacity-50;
        }
        button{
            span{
                transition: all 0.6s ease;
            }
        }
    }
}

.widget::-webkit-scrollbar{
    display: none;
}
.widget{   
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.iconActive{
    transform: rotate(45deg);
}
.clickable {
  @apply rounded-full transition-all hover:bg-black hover:bg-opacity-10 active:bg-black active:bg-opacity-40 dark:hover:bg-white dark:hover:bg-opacity-10 dark:active:bg-white dark:active:bg-opacity-40;
}
//----- list transitiions

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

.list-leave-active {
  position: absolute;
}
//-----------------------modal transitions

.modal-bg-enter-active,
.modal-bg-leave-active {
  transition: opacity 0.5s ease;
}

.modal-bg-enter-from,
.modal-bg-leave-to {
  opacity: 0;
}

.modal-content-enter-active,
.modal-content-leave-active {
  transition: all 0.5s ease;
}

.modal-content-enter-from,
.modal-content-leave-to {
  opacity: 0;
  transform: scale(0.4);
  transform: translateY(-20px);
}
