<script setup lang="ts">

    const props = defineProps(["showModal"])
    const router = useRouter()

    const { signUp, signIn, oSignIn } = useAuth()
    const authError = ref("")
    const authState = ref<"login" | "register">("register")
    let showEmailConfirmation = ref(false)
    // const emit = defineEmits(["close-modal"])
    const toggleAuth = () => {
        if ( authState.value === "login" ) authState.value = "register"
        else authState.value = "login"
        authError.value = ""
    }
    const in_credentials = reactive({
        email:"",
        password:"",
        name:""
    })
    const handleSubmit = async () => {
        try {
            if (authState.value === "login") {
                await signIn({email:in_credentials.email,password:in_credentials.password})
                router.go(0)
                // emit('close-modal')
            } else {
                if (in_credentials.name === ""){
                    authError.value = "Name cannot be empty!"
                    return
                }
                await signUp({email:in_credentials.email,password:in_credentials.password, name:in_credentials.name})
                showEmailConfirmation.value = true
            }
            in_credentials.email = ""
            in_credentials.password = ""
        } catch (err) {
            authError.value = err.message
        }
    }
</script>
<template>    
    <div>
        <Transition name="modal-bg">
            <div v-if="showModal" class="modal-bg" @click="$emit('close-modal')"></div>
        </Transition>
        <Transition name="modal-content">
        <div v-if="showModal" class="modal-content">
            <div v-if="!showEmailConfirmation">
            <span class="material-symbols-rounded text-3xl">account_circle</span>
                <h3 class="capitalize mb-3">{{authState}}</h3>
                <form>
                    <input v-model="in_credentials.name" v-if="authState==='register'" placeholder="First name">
                    <input v-model="in_credentials.email" placeholder="Email">
                    <input v-model="in_credentials.password" type="password" placeholder="Password" autocomplete="current-password">
                    <button @click="handleSubmit" type="button" class="bg-white text-black mb-3">{{authState}}</button>
                </form>
                <p class="text-red-700" v-if="authError">{{authError}}</p>
                <NuxtLink v-if="authState==='login'" to="resetpassword" class="text-sm opacity-40">
                    Forgot my password
                </NuxtLink><br>
                <button @click="toggleAuth" class="text-sm mt-3">
                    {{authState === "register" ?  "Already have an account? Login" : "Don't have an account? Register"}}
                </button>
            </div>
            <div v-else class="p-36">
                <h3>Check your email to verify and continue!</h3>
            </div>
        </div>
      </Transition>
        
    </div>
</template>

<style scoped lang="scss">
form {
    max-width: 420px;
    input {
        @apply dark:bg-black dark:bg-opacity-50 w-full rounded-lg py-1 px-2 mb-2;
    }
    button {
        @apply dark:bg-black dark:text-white w-full rounded-lg py-1 px-2 box-border uppercase hover:bg-gray-300 dark:hover:bg-gray-800;
    }
}

.modal-bg {
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000002e;
}
.modal-content {
    @apply p-6 backdrop-filter dark:text-white bg-white bg-opacity-50 dark:bg-black dark:bg-opacity-50 backdrop-blur-md rounded-lg;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    z-index: 11;
}

</style>
