<script setup lang="ts">
    const props = defineProps(["showModal"])
    const emit = defineEmits(["close-modal"])

</script>
<template>
    <div>
      <Transition name="modal-bg">
        <div v-if="showModal" class="modal-bg" @click="$emit('close-modal')"></div>
      </Transition>
      <Transition name="modal-content">
        <div v-if="showModal" class="modal-content">
          <slot>Modal content</slot>
        </div>
      </Transition>
    </div>
</template>
<style scoped lang="scss">
.modal-bg {
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000002e;
}
.modal-content {
    @apply p-6 backdrop-filter dark:text-white bg-white bg-opacity-50 dark:bg-black dark:bg-opacity-50 backdrop-blur-md rounded-lg;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    z-index: 11;
}
.modal-bg-enter-active,
.modal-bg-leave-active {
  transition: opacity 0.5s ease;
}

.modal-bg-enter-from,
.modal-bg-leave-to {
  opacity: 0;
}

.modal-content-enter-active,
.modal-content-leave-active {
  transition: all 0.5s ease;
}

.modal-content-enter-from,
.modal-content-leave-to {
  opacity: 0;
  transform: scale(0.4);
}
</style>