<script setup lang="ts">
    const props = defineProps(["showModal"])
    const emit = defineEmits(["close-modal"])
    const user = useSupabaseUser()
    const { signOut } = useAuth()
    const handleSignout = () => {
        signOut()
        emit('close-modal')
    }

</script>
<template>
    <div v-if="user">
      <Transition name="modal-bg">
        <div v-if="showModal" class="modal-bg" @click="$emit('close-modal')"></div>
      </Transition>
      <Transition name="modal-content">
        <div v-if="showModal" class="modal-content">

          <h3 class="font-bold">{{user.user_metadata.name}}</h3>
            <button @click="handleSignout">Sign out</button> 

        </div>
      </Transition>
    </div>
</template>

<style scoped lang="scss">
.modal-bg {
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000002e;
}
.modal-content {
    @apply p-6 backdrop-filter dark:text-white bg-white bg-opacity-50 dark:bg-black dark:bg-opacity-50 backdrop-blur-md rounded-lg;
    position: fixed;
    top: 54px;
    left: 114px;
    margin: auto;
    z-index: 11;
    text-align: center;
}
</style>
