<script setup lang="ts">
    const props = defineProps(["showModal"])
    const emit = defineEmits(["close-modal"])

    let themes = ['system','dark','light']
    const { preferences, setPreference } = usePreferences()
</script>

<template>
    <div>
      <Transition name="modal-bg">
        <div v-if="showModal" class="modal-bg" @click="$emit('close-modal')"></div>
      </Transition>
      <Transition name="modal-content">
        <div v-if="showModal" class="modal-content">

           <section class="setting-item">
            <h3>Theme</h3>
            <div>
                <button v-for="theme in themes" :key="theme"
                @click="$colorMode.preference = theme"
                :class="{'option-active' : $colorMode.preference === theme}"
                >{{theme}}</button>
            </div>
            </section>
           <section class="setting-item">
            <h3>Wallpaper</h3>
                <div>
                    <button :class="{'option-active' : preferences['Wallpaper'] === 'Unsplash' }" @click="setPreference('Wallpaper', 'Wallpaper', 'Unsplash')">Unsplash</button>
                    <button :class="{'option-active' : preferences['Wallpaper'] === 'Grey' }" @click="setPreference('Wallpaper', 'Wallpaper', 'Grey')">Grey</button>
                </div>
            </section>
            <section v-for="(value,key,index) in preferences['Widgets']" :key="index"
            class="setting-item">
                <h3>{{key}}</h3>
                <div>
                    <button :class="{'option-active' : value }" @click="setPreference('Widgets', key, true)">On</button>
                    <button :class="{'option-active' : !value }" @click="setPreference('Widgets', key, false)">Off</button>
                </div>
            </section>
        </div>
      </Transition>
    </div>
</template>

<style lang="scss" scoped>
    .setting-item{
        div {
            @apply flex gap-2 justify-center;
            button {
                @apply font-light;
                transition:all 0.5s;
            }
        }
    }
    .option-active{
        @apply bg-black dark:bg-white bg-opacity-20 dark:bg-opacity-20 rounded-lg px-2;
    }
.modal-bg {
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000002e;
}
.modal-content {
    @apply p-6 backdrop-filter dark:text-white bg-white bg-opacity-50 dark:bg-black dark:bg-opacity-50 backdrop-blur-md rounded-lg;
    position: fixed;
    top: 54px;
    right: 54px;
    margin: auto;
    z-index: 11;
    text-align: center;
}

</style>
