<script setup lang="ts">
    //handling reset password link
    const route = useRoute()
    const { ResetpassHashToParam } = useAuth()
    if (route.hash) {
      let t_type = route.hash.split('&')[4].split('=')[1]
      if (t_type === 'recovery'){
        const router = useRouter()
        router.push(ResetpassHashToParam(route.hash))
      }
    } 
    
  const { preferences, loadPreferences, getWallpaper } = usePreferences()
  let wallpaper = ref({backgroundImage:'#222',backgroundAuthor:{name:'',link:''}})
  // wallpaper.value = (preferences.value.Wallpaper === 'Unsplash') ? await getWallpaper() : {backgroundImage:preferences.value.Wallpaper,backgroundAuthor:{name:'',link:''}}

  onMounted(async () => {
    // load preferences from localstorage
    loadPreferences()
    // set and update wallpaper value
    setTimeout(async () => {
      wallpaper.value = (preferences.value.Wallpaper === 'Unsplash') ? await getWallpaper() : {backgroundImage:preferences.value.Wallpaper,backgroundAuthor:{name:'',link:''}}
    }, 15)
    watch(preferences.value, async () => {   
      wallpaper.value = (preferences.value.Wallpaper === 'Unsplash') ? await getWallpaper() : {backgroundImage:preferences.value.Wallpaper,backgroundAuthor:{name:'',link:''}}
    });
  })
  
</script>

<template>
  <div class="main-container">
    <Head>
        <Title>Mindful Dashboard</Title>
        <Meta name="description" content="A mindful productivty dashboard"/>
        <Meta name="keywords" content="To do list, Pomodoro, Lofi, Notes, Weather"/>
        <Meta name="author" content="Alireza Ektefaie"/>
    </Head>

    <Header></Header>
    <section class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-w-screen-2xl px-8 mx-auto">
      <WidgetWeather v-if="preferences['Widgets']['Weather']"></WidgetWeather>
      <ClientOnly>
        <WidgetPomodoro v-if="preferences['Widgets']['Pomodoro']"></WidgetPomodoro>
        <WidgetToDos v-if="preferences['Widgets']['To do']"></WidgetToDos>
        <WidgetSounds v-if="preferences['Widgets']['Sounds']"></WidgetSounds>
        <WidgetNotes v-if="preferences['Widgets']['Notes']"></WidgetNotes>
      </ClientOnly>
    </section>
    <Footer :background_author="wallpaper.backgroundAuthor"></Footer>
    
  </div>
</template>
<style>
  .main-container{
    min-height: 100vh;
    background: v-bind('wallpaper.backgroundImage');
    background-size:cover;
    background-position: center;
  }
</style>
