<script setup>
const newTask = ref("")
// //own server method
// const { addTodo } = useTodos()
// const emit = defineEmits(["refresh"])
// const makeNewTodo = () => {
//     addTodo(newTask.value)
//     newTask.value = ""
//     emit("refresh")
// }


// supabase method
const user = useSupabaseUser()
const supabase = useSupabaseClient()
const emit = defineEmits(["refresh"])
const makeNewTodo = async () => {
    if(newTask.value){
        await supabase.from("todos").insert({
            item:newTask.value,
            completed:false,
            user_id:user.value.id
        })
        newTask.value = ""
        emit("refresh")
    }
}


</script>
<template>
    <div class="flex my-2">
        <input 
        v-model="newTask"
        class="flex-1 appearance-none p-4 rounded-xl border-none bg-opacity-50 bg-white dark:bg-black focus:border-red-500 focus:border-2"
        placeholder="Add a new task"
        @keyup.enter="makeNewTodo">
        <button @click="makeNewTodo" class="px-1 mx-1 clickable">
            <span class="material-symbols-rounded">add</span>
        </button>
    </div>
</template>
