<script setup lang="ts">

    const props = defineProps({
        note:Object
    })
    const emit = defineEmits(["refresh"])

    let not_synced = ref(false)
    
    let debounce = ref(null)
    const debounceUpdate = (event) => {
        clearTimeout(debounce.value)
        not_synced.value = true
        debounce.value = setTimeout(() => {
            updateNote()  
            not_synced.value = false
        }, 1600)
    }


    const user = useSupabaseUser()
    const supabase = useSupabaseClient()

    const updateNote = async () => {
        await supabase.from("notes").update({
            title:props.note.title,
            note:props.note.note,
        }).match({
            id:props.note.id
        })

    }

    const handleDelete = async () => {
        await supabase.from("notes").delete().match({
            id: props.note.id
        })
        emit("refresh")
    }

</script>

<template>
    <div class="note">
        <div>
            <input v-model="note.title" @input="debounceUpdate" placeholder="Note title">
            <span v-if="not_synced" class="material-symbols-rounded rotate">sync</span>
            <span v-else class="material-symbols-rounded">cloud_done</span>
            <span @click="handleDelete" class="material-symbols-rounded">delete</span>
        </div>
        <textarea v-model="note.note" @input="debounceUpdate" placeholder="Note content"></textarea>
    </div>
</template>

<style scoped lang="scss">
    .note {
        @apply flex flex-col bg-white dark:bg-black bg-opacity-30 dark:bg-opacity-40 rounded-lg my-2;
        input,textarea {
            @apply appearance-none bg-transparent p-2;
        }
        textarea::-webkit-scrollbar {
            display: none;
        }
        textarea {   
            height: 150px;
            resize: none;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none; 
        }
        div {
            @apply border-b-2 dark:border-gray-800 flex gap-1;
            span {
                @apply py-2 pr-2 opacity-30 cursor-pointer;
            }
        }
        input {
            @apply flex-1;
        }
    }

    .rotate {
        animation: rotation 8s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-359deg);
        }
    }
</style>
