<script setup lang=ts>
    const props = defineProps({
        timer:Object
    })
    let percent = computed(()=>{
        return (500 - ((props.timer.amount / props.timer.max) * 500))
    })
</script>

<template>
    <div class="radial-progress">
        <svg>
            <circle class="bg" cx="90" cy="90" r="80" />
            <circle class="meter-1" cx="90" cy="90" r="80" />
        </svg>
        <h2 v-if="timer.counter.minute === -1">{{timer.max / 60}}:00</h2>
        <h2 v-else>{{timer.counter.minute}}:{{timer.counter.second.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}}</h2>
    </div>
</template>

<style lang="scss" scoped>
    .radial-progress {
        display: inline-block;
        position: relative;
        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight:500;
            font-size: 2em;
        }
    }
    svg {
        width: 180px;
        height: 180px;
    }
    .bg {
        fill: none;
        stroke-width: 10px;
        stroke: #ffffff1b;
    }
    [class^="meter-"] {
        fill: none;
        stroke-width: 10px;
        stroke-linecap: round;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }
    .meter-1 {
        stroke-dasharray: 500;
        stroke-dashoffset: v-bind('percent');
        stroke: #00000093;
        transition: stroke-dashoffset 0.5s ease-in-out;
        // animation: progress-1 1s ease-out;
    }
    // @keyframes progress-1 {
    //     from {
    //         stroke-dashoffset: 500;
    //     }
    //     to {
    //         stroke-dashoffset: 100;
    //     }
    // }

</style>
