<script setup>
const props = defineProps({
    todo:Object
})
const emit = defineEmits(["refresh","delete","updateUI"])
// // own server method
// const { updateTodo, deleteTodo } = useTodos()
// const handleUpdate = (id) => {
//     updateTodo(id)
//     emit("refresh")
// }
// const handleDelete = (id) => {
//     deleteTodo(id)
//     emit("refresh")
// }

// supabase method
const user = useSupabaseUser()
const supabase = useSupabaseClient()
const handleCompleted = async () => {
    await supabase.from("todos").update({
        completed:!props.todo.completed,
    }).match({
        id:props.todo.id
    })
    emit("updateUI")
}
const handleDelete = async () => {
    await supabase.from("todos").delete().match({
        id: props.todo.id
    })
    emit("updateUI")
}
</script>
<template>
    <li class="flex gap-2 justify-between p-4 my-2 rounded-xl bg-white bg-opacity-50 dark:bg-black dark:bg-opacity-50 dark:text-white">
        <button @click="handleCompleted(todo.id)" class="opacity-50" :class="{'opacity-100' : todo.completed}">
            <span class="material-symbols-rounded">done</span>
        </button>
        <h3 class="flex-1" :class="{'line-through' : todo.completed}">{{todo.item}}</h3>
        <button @click="handleDelete(todo.id)" class="opacity-50">
            <span class="material-symbols-rounded">delete</span>
        </button>        
    </li>
</template>

